@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Anton&family=Open+Sans:wght@700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Anton&family=Calistoga&family=Open+Sans:wght@700&family=Shanti&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 390px) and (max-width: 844px){
    .screen{
        width: 390px;
        height: 844px;
        margin: auto;
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 60px;
        background-color: aliceblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: space-between;
    }
    .message{
        width: 30px;
        color: bisque;
        margin-right: 10px;
    } 
    .icon_title{
        width: 50%;
        display: flex;
        margin-left: 10px;
    }
    .icon{
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon img{
        width: 30px;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    .content{
        width: 390px;
        height: 70px;
    }
    .name_pf{
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: yellowgreen; */
        
    }
    .name{
        /* background-color: blueviolet; */
        font-family: 'Andika', sans-serif;
        font-family: 'Anton', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    .pf img{
        /* padding-top: 10px; */
        /* background-color: azure; */
        height: 50px;
        margin-top: 6px;
        margin-right: 10px;
    }
    .h{
        color: grey
    }
    .dot{
        font-size: 30px;
        margin-right: 10px;
        font-weight: 1000;
    
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        margin-left: 10px;
    }
    .naruto img{
        margin-top: 7px;
    }
    .hong img{
        margin-top: 7px;
    }
    .interaction{
        margin-top: 6px;
        margin-left: 10px;
        height: 20px;
        width: 70%;
        display: flex;
    
    }
    .like{
        width: 33%;
        display: flex;
    }
    .like_icon{
        width: 20px;
    }
    .comment{
        width: 33%;
        display: flex;
    }
    .cmt_icon{
        width: 20px;
    }
    .share{
        display: flex;
    }
    .share_icon{
        width: 20px;
    }
    
    .bottom{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        height: 40px;
    }
    .home {
        margin-left: 10px;
        width: 30px;
    }
    .search{
        width: 30px;
    }
    .upload{
        width: 27px;
    }
    .noti{
        width: 30px;
        /* color: gray; */
    }
    .profile{
        margin-right: 10px;
        width: 30px;
    }
    .inactve{
        color: gray;
    }
    .inactve:hover{
        color: black;
    }
}
.screen{
    width: 390px;
    height: 844px;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 60px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}
.message{
    width: 30px;
    color: bisque;
    margin-right: 10px;
} 
.icon_title{
    width: 50%;
    display: flex;
    margin-left: 10px;
}
.icon{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    width: 30px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.content{
    width: 390px;
    height: 70px;
}
.name_pf{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    
}
.name{
    /* background-color: blueviolet; */
    font-family: 'Andika', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.pf img{
    /* padding-top: 10px; */
    /* background-color: azure; */
    height: 50px;
    margin-top: 6px;
    margin-right: 10px;
}
.h{
    color: grey
}
.dot{
    font-size: 30px;
    margin-right: 10px;
    font-weight: 1000;

}
.content{
    display: flex;
    justify-content: space-between;
}
p{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
}
.naruto img{
    margin-top: 7px;
}
.hong img{
    margin-top: 7px;
}
.interaction{
    margin-top: 6px;
    margin-left: 10px;
    height: 20px;
    width: 70%;
    display: flex;

}
.like{
    width: 33%;
    display: flex;
}
.like_icon{
    width: 20px;
}
.comment{
    width: 33%;
    display: flex;
}
.cmt_icon{
    width: 20px;
}
.share{
    display: flex;
}
.share_icon{
    width: 20px;
}

.bottom{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 40px;
}
.home {
    margin-left: 10px;
    width: 30px;
}
.search{
    width: 30px;
}
.upload{
    width: 27px;
}
.noti{
    width: 30px;
    /* color: gray; */
}
.profile{
    margin-right: 10px;
    width: 30px;
}
.inactve{
    color: gray;
}
.inactve:hover{
    color: black;
}