*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen{
    width: 390px;
    height: 844px;
    background-color: aquamarine;
    display: flex;
    margin: auto;
}
.nav{
    width: 390px;
    height: 70px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    padding: 10px;
}
.icon_img{
    width: 45px;
}
.message{
    width: 50px;
}